* {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.toplogo, .head {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#remaxlogo {
    height: auto;
    min-width: 180px;
    max-width: 400px;
}

.price {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.purchasepricefield {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.grosscommission, .buyercommission {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

#reset, #calculate, .light, .dark {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #fd0d0d;
    border-color: #fd0d0d;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#reset:hover, #calculate:hover, .light:hover, .dark:hover {
    color: #fff;
    background-color: #c51212;
    border-color: #c70b0b;
}

.allcalc {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.gc, .sc, .lc, .lightdark {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

.lightdark {
    margin-top: 25px;
}

.gc {
    margin-top: 15px;
}

.buttons {
    margin-bottom: 25px;
}

input[type=number] {
    border: 1px solid red;
    border-radius: 4px;
    padding: 10px 10px;
}

input[type=number]:focus {
    background-color: rgb(255, 238, 238);
}

.dark-mode {
    background-color: black;
    color: white;
}


